{% extends "layout.html" %}

{% block content %}
<h1>Budget list:</h1>
<div class="list-group">
    {% for budget in budgets %}
    <a href="{{ url_for('budget',budget_id=budget.id) }}" class="list-group-item list-group-item-action">
        <div>
            {{ budget.name }}
        </div>
        <small class="text-muted">Available Amount: {{budget.available_amount}}</small>
    </a>
    {% endfor %}
</div>
<a class="btn btn-primary mt-5" href="{{ url_for('home') }}">Back</a>
<a class="btn btn-primary mt-5" href="{{ url_for('new_budget') }}">Create new Budget</a>
{% endblock %}