{% extends "layout.html" %}

{% block content %}
<div class="text-center mb-3">
    <h3>Budget list</h3>
</div>
<div class="clearfix">
    <a class="btn btn-sm btn-outline-dark mb-3" href="{{ url_for('new_budget') }}">Create new Budget</a>
</div>
<div class="list-group">
    {% for budget in budgets %}
    <a href="{{ url_for('budget',budget_id=budget.id) }}" class="list-group-item list-group-item-action">
        <div>
            {{ budget.name }}
        </div>
        <small class="text-muted">Available Amount: {{(budget.available_amount | round(2))}}</small>
    </a>
    {% endfor %}
</div>
<a class="btn btn-sm btn-outline-secondary mt-3 mb-2" href="{{ url_for('home') }}">Back</a>
{% endblock %}