{% extends "layout.html" %}

{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{  form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{category_name}}</legend>

            <small class="text-muted" >Previous amount: {{ previous }}</small>
            <div class="form-group">
                {{ form.used_amount.label(class="form-control-label") }}
                {% if form.used_amount.errors %}
                {{ form.used_amount(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.used_amount.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.used_amount(class="form-control form-control-lg") }}
                {% endif %}

        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-dark") }}
        </div>
    </form>
</div>
<div class="mt-3 mb-2">
    <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('budget',budget_id=budget_id)}}">Back</a>
    <form class="d-inline" action="{{ url_for('delete_budget_category',category_id=category_id,budget_id=budget_id) }}" method="post">
        <input type="submit" class="btn btn-sm btn-outline-danger" value="Delete">
    </form>
</div>

{% endblock %}