{% extends "layout.html" %}

{% block content %}
<div class="text-center mb-4">
    <h3>Category list</h3>
</div>
<a class="btn btn-sm btn-outline-dark mb-3" href="{{ url_for('new_category') }}">Create new Category</a>
<div class="list-group">
    {% for category in categories %}
    <a href="{{ url_for('category',category_id=category.id) }}" class="list-group-item list-group-item-action">
        <div>
            {{ category.name }}
        </div>
        <small class="text-muted">{{category.description}}</small>
    </a>
    {% endfor %}
</div>
<a class="btn btn-sm btn-outline-secondary mt-3 mb-2" href="{{ url_for('home') }}">Back</a>
{% endblock %}