{% extends "layout.html" %}

{% block content %}
<div class="card">
    <div class="card-header text-center">
        <h1>Home page</h1>
    </div>
    <div class="card-body">
        <div class="mt-3 mb-3">
            <h6>Current budget:</h6>
            <div class="list-group">
                <a href="{{ url_for('budget',budget_id=budget.id) }}" class="list-group-item list-group-item-action">
                    <div>
                        {{ budget.name }}
                    </div>
                    <small class="text-muted">Inicial Amount: {{(budget.inicial_amount | round(2))}}</small>
                    <small class="text-muted">Available Amount: {{(budget.available_amount | round(2))}}</small>
                </a>
            </div>
        </div>
        <div class="mt-3 mb-3">
            <h6> See list of categories</h6>
            <a class="btn btn-primary" role="button" href="{{ url_for('categories') }}">Categories</a>
        </div>
        <div class="mt-3 mb-3">
            <h6>See list of budgets</h6>
            <a class="btn btn-primary" role="button" href="{{ url_for('budgets') }}">Budgets</a>
        </div>
    </div>
</div>

{% endblock %}